h2 {
  text-align: center;
}
table {
  border: 10px solid black;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
  border-radius: 10px;
}

th,
td {
  padding: 12px;
  /* text-align: center; */
  border: 1px solid #ddd;
}

th {
  background-color: black;
  color: white;
  text-align: center;
}

@media screen and (max-width: 600px) {
  table {
    font-size: 14px;
  }

  th,
  td {
    padding: 8px;
  }
}
