.container {
  border: 3px groove blueviolet;
  margin-top: 1%;
  margin-bottom: 10px;
  border: 2px solid rgb(15, 2, 4);
  border-radius: 10px;
  outline: 5px solid black;
  outline-offset: 5px;
}
.bg-image {
  margin-top: 4px;
}

.ls {
  margin-top: 10px;
  margin-bottom: 10px;
}

.ls a {
  text-decoration: none;
  color: white;
}
